<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SurvivalOfTheFittest</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/angular-material/angular-material.css")">
        <link href="@routes.Assets.versioned("bower_components/angular-material-data-table/dist/md-data-table.min.css")" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body ng-app="SurvivalOfTheFittestApp" ng-cloak>

        <div ng-view></div>

        <script type="application/javascript" src="@routes.Assets.versioned("bower_components/angular/angular.js")"></script>

        <script type="application/javascript" src="@routes.Assets.versioned("bower_components/angular-route/angular-route.js")"></script>

        <script src="@routes.Assets.versioned("bower_components/angular-aria/angular-aria.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-animate/angular-animate.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-material/angular-material.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-material-data-table/dist/md-data-table.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/chart.js/Chart.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-chart.js/dist/angular-chart.js")"></script>


        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/survivalOfTheFittest.js")"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/routes.js")"></script>

        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/mainController.js")"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/algorithmController.js")"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/chartController.js")"></script>
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/algorithmService.js")"></script>
    </body>
</html>